@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans&display=swap');

/*
    Fonts
*/
.nunito{
    font-family: 'Nunito', sans-serif;
}
.sans{
    font-family: 'Open Sans', sans-serif;
}

/*
Header
*/

.f-logo{
    width: 50px;
    margin: 5px;
}
.f-header{
    width: 150px;
}

/*
Background
*/
.card:hover{
  cursor: pointer;
}

.hero-image {    
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .f-button button {
    border: none;
    outline: 0;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-out; 
    
  }
  .f-button button:hover{
    
    transform: translateY(-3px);
  }
#f-heading{
    font-size: 8.5vw;font-weight: 500;
    margin-bottom: 0px;
}
#f-date{
    font-size: 3vw;
}
a .card-title{
  color: black;
}

.day1-bg
{    
    
    background-repeat: repeat;
    background-size: contain; 
    width: 100vw;   
}
#cont-ind
{
  transform:translateY(-7%);
}
/* @media only screen and (min-width: 200px) and (max-width: 767px)  {
  
  } */


  @media screen and (max-width : 400px){
    .hero-image {    
      height: 105vh;
    }
    #cont-ind
    {
      transform:translateY(-20%);
    }
  }
  @media screen and (max-width : 600px){
    #cont-ind
    {
      transform:translateY(-5%);
    }
 
    .f-button button{
       padding: 5px 13px;      
       font-size: 0.9em;
    }
    #f-heading{
        font-size: 5em;
        font-weight: 500;
    }
    #f-date{
        font-size: 1.5em;
    }
    
  }



  /*
  scroll bar
  */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

